body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }

.container {
  position: relative;
  width: 100vw;
  height: 100vh; }

nav ul {
  margin: 0;
  padding: 0; }
  nav ul li {
    list-style: none; }
    nav ul li a {
      text-decoration: none; }

.containerSize, .containerSizeMenu {
  margin: 0;
  height: 22vh;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4); }
  .containerSize .icon, .containerSizeMenu .icon {
    background-image: url(../images/menu.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left, center;
    width: 25%;
    float: left;
    height: 100%; }
  .containerSize a, .containerSizeMenu a {
    text-align: left;
    height: 100%;
    display: flex;
    width: 70%;
    align-items: center;
    font-size: 3em; }
  .containerSize h3, .containerSizeMenu h3 {
    margin: 20px auto; }
  .containerSize:nth-child(1), .containerSizeMenu:nth-child(1) {
    height: 12vh;
    background: #eef2be;
    z-index: 10; }
    .containerSize:nth-child(1) a, .containerSizeMenu:nth-child(1) a {
      color: #a68f47; }
  .containerSize:nth-child(2), .containerSizeMenu:nth-child(2) {
    background: #fbd862;
    z-index: 9;
    top: 12%; }
    .containerSize:nth-child(2) .icon, .containerSizeMenu:nth-child(2) .icon {
      background-image: url(../images/coffee.svg); }
    .containerSize:nth-child(2) a, .containerSizeMenu:nth-child(2) a {
      color: #dc694c; }
  .containerSize:nth-child(3), .containerSizeMenu:nth-child(3) {
    background: #e16c4e;
    z-index: 8;
    top: 34%; }
    .containerSize:nth-child(3) .icon, .containerSizeMenu:nth-child(3) .icon {
      background-image: url(../images/sweet.svg); }
    .containerSize:nth-child(3) a, .containerSizeMenu:nth-child(3) a {
      color: #913449; }
  .containerSize:nth-child(4), .containerSizeMenu:nth-child(4) {
    background: #943349;
    z-index: 7;
    top: 56%; }
    .containerSize:nth-child(4) .icon, .containerSizeMenu:nth-child(4) .icon {
      background-image: url(../images/food.svg); }
    .containerSize:nth-child(4) a, .containerSizeMenu:nth-child(4) a {
      color: #502642; }
  .containerSize:nth-child(5), .containerSizeMenu:nth-child(5) {
    background: #4a2d52;
    z-index: 6;
    top: 78%; }
    .containerSize:nth-child(5) .icon, .containerSizeMenu:nth-child(5) .icon {
      background-image: url(../images/drinks.svg); }
    .containerSize:nth-child(5) a, .containerSizeMenu:nth-child(5) a {
      color: #1a172b; }
  .containerSize .items, .containerSizeMenu .items {
    position: relative;
    padding: 5%;
    height: 32vh;
    overflow-y: scroll; }
    .containerSize .items ul, .containerSizeMenu .items ul {
      position: relative;
      margin: 0;
      width: 100%; }
      .containerSize .items ul li, .containerSizeMenu .items ul li {
        position: relative;
        padding: 10px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
        .containerSize .items ul li:last-child, .containerSizeMenu .items ul li:last-child {
          border-bottom: none; }
      .containerSize .items ul label, .containerSizeMenu .items ul label {
        font-size: 1.1em;
        color: #ce2525;
        padding-left: 30px;
        cursor: pointer; }
        .containerSize .items ul label .check, .containerSizeMenu .items ul label .check {
          position: absolute;
          top: 50%;
          left: 0;
          width: 20px;
          height: 20px;
          background: #f1c550;
          display: block;
          box-sizing: border-box;
          border-radius: 4px;
          transform: translateY(-50%); }
          .containerSize .items ul label .check:before, .containerSizeMenu .items ul label .check:before {
            content: '';
            position: absolute;
            top: 3px;
            left: 3px;
            right: 3px;
            bottom: 3px;
            background: #ff6600;
            border-radius: 2px;
            transition: 0.2s;
            opacity: 0; }
        .containerSize .items ul label input:checked ~ .check:before, .containerSizeMenu .items ul label input:checked ~ .check:before {
          background: #ff6600;
          box-shadow: 0 0 15px #ff6600;
          opacity: 1; }
      .containerSize .items ul .price, .containerSizeMenu .items ul .price {
        line-height: 2;
        color: #ce2525;
        margin-right: 2%;
        float: right;
        font-size: .7em; }
      .containerSize .items ul .plus, .containerSize .items ul .minus, .containerSizeMenu .items ul .plus, .containerSizeMenu .items ul .minus {
        float: right;
        font-size: 1em;
        color: #f1c550;
        background: green;
        width: 22px;
        height: 22px;
        text-align: center;
        line-height: 23px;
        border-radius: 50%;
        margin-right: 0%; }
      .containerSize .items ul .plus, .containerSizeMenu .items ul .plus {
        margin-right: -6.3%; }
      .containerSize .items ul .showMinus, .containerSizeMenu .items ul .showMinus {
        transition: 0.5s;
        margin-right: 1%; }
      .containerSize .items ul .nonVage, .containerSizeMenu .items ul .nonVage {
        background: red; }
      .containerSize .items ul input, .containerSizeMenu .items ul input {
        opacity: 0;
        cursor: pointer; }

.clearFix {
  clear: both; }

/*# sourceMappingURL=style.css.map */
