//Color var

//#f34949;


body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.container {
	position: relative;
	width: 100vw;
    height: 100vh;
}

nav{
	ul{
		margin: 0;
    	padding: 0;

    	li{
			list-style: none;
			a{
				text-decoration: none;
			}
		}
	}
	
}

.containerSize, .containerSizeMenu{

	margin: 0;
	height: 22vh;
	width: 100%;
	overflow: hidden;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);

	.icon{
		background-image: url(../images/menu.svg);
	    background-size: 100%;
	    background-repeat: no-repeat;
	    background-position: left, center;
	    width: 25%;
	    float: left;
	    height: 100%;
	}

	a{
	    text-align: left;
	    height: 100%;
	    display: flex;
	    width: 70%;
	    align-items: center;
	    font-size: 3em;
	}

	h3{
		margin: 20px auto;
	}
	
	&:nth-child(1){
		height: 12vh;
		background: #eef2be;
		z-index: 10;
		a{
			color: #a68f47;
		}
	}

	&:nth-child(2){
		background: #fbd862;
		z-index: 9;
		top: 12%;

		.icon{
			background-image: url(../images/coffee.svg);
		}

		a{
			color: #dc694c;
		}
	}

	&:nth-child(3){
		background: #e16c4e;
		z-index: 8;
		top: 34%;

		.icon{
			background-image: url(../images/sweet.svg);
		}

		a{
			color: #913449;
		}
	}

	&:nth-child(4){
		background: #943349;
		z-index: 7;
		top: 56%;

		.icon{
			background-image: url(../images/food.svg);
		}

		a{
			color: #502642;
		}
	}

	&:nth-child(5){
		background: #4a2d52;
		z-index: 6;
		top: 78%;

		.icon{
			background-image: url(../images/drinks.svg);
		}
		
		a{
			color: #1a172b;
		}
	}

	.items{
		position: relative;
		padding: 5%;
		height: 32vh;
    	overflow-y: scroll;

		ul{
			position: relative;
			margin: 0;
			width: 100%;

			li{
				position: relative;
				padding: 10px 0;
				border-bottom: 1px solid rgba(0,0,0, .1);

				&:last-child{
					border-bottom: none;
				}
			}

			label{
				font-size: 1.1em;
				color: #ce2525;
				padding-left: 30px;
				cursor: pointer;

				.check{
					position: absolute;
					top: 50%;
					left: 0;
					width: 20px;
					height: 20px;
					background: #f1c550;
					display: block;
					box-sizing: border-box;
					border-radius:4px;
					transform: translateY(-50%);
					//transform: translateX(285px);

					&:before{
						content:'';
						position: absolute;
						top: 3px;
						left: 3px;
						right: 3px;
						bottom: 3px;
						background: #ff6600;
						border-radius: 2px;
						transition: 0.2s;
						opacity: 0;
						//transform: translateX(-285px);

					}
				}

				input:checked ~ .check:before{
					background: #ff6600;
					box-shadow: 0 0 15px #ff6600;
					opacity: 1;
				}
			}

			.price{
				line-height: 2;
				color: #ce2525;
				margin-right: 2%;
				float: right;
				font-size: .7em;
			}

			.plus, .minus{
				float: right;
				font-size: 1em;
				color: #f1c550;
				background: green;
				width: 22px;
				height: 22px;
				text-align: center;
				line-height: 23px;
				border-radius: 50%;
				margin-right: 0%;
			}

			.plus{
				margin-right: -6.3%;
			}

			.showMinus{
				transition: 0.5s;
				margin-right: 1%;
			}

			.nonVage{
				background: red;
			}

			input{
				opacity: 0;
				cursor: pointer;

			}
		}

	}
}



.clearFix{
	clear:both;
}




